/*В ревью Вы рекомендовали задать translateY(50px), а верхнее поле удалить.
Из-за того, что видео были сделаны списком, пришлось дополнительно обнулить
верхнее и нижнее поле, так как их отрисовывал список. */

.video__iframes {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0px;
  transform: translateY(50px);
}
