.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  transition: opacity 0.5s linear;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.footer__column-link:hover {
  opacity: .5;
}


